:root {
	--bg :#343a40;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;

}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg);
    color: #fff;

}

main {
    position: fixed;
    top: 25px; /* Sesuaikan dengan tinggi navbar Anda */
    left: 0;
    right: 0;
    bottom: 0;
    margin:0.2rem 0rem 0.5rem;
    overflow: hidden;
}



.navbar {
    border-color: #bbb;
	max-height: 60px;
	padding: 1.4rem 5%;
	margin:0.75rem 0rem;
	position: fixed;
	top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}


.navbar-brand {
    font-weight: bold;
}


.leaflet-tooltip.no-background {
    background: transparent;
    border: none;
    box-shadow: none;
    color: none;
    -webkit-text-stroke-width: 0.9px;
    -webkit-text-stroke-color: whitesmoke;
    -webkit-text-fill-color: black;
}

.leaflet-control-layers {
    margin-top: 30px;
	overflow: auto;
}

.leaflet-control-layers label {
    font-weight: normal;
    margin-bottom: 0px;
}

.leaflet-control-layers-list input[type="radio"],
input[type="checkbox"] {
    margin: 2px;
}

#map {
    width: auto;
	margin-top: 60px;
	padding-top: 10%;
	position: relative;
    height: 95vh;
    overflow: hidden;
}


label.required::after {
    content: '*';
    color: red;
}

.wms-label {
    background-color: white;
    /* Warna latar belakang label */
    padding: 2px;
    /* Ruang di sekitar teks label */
    border: 1px solid #808080;
    /* Garis pinggir label */
    border-radius: 4px;
    /* Sudut melengkung pada label */
}

/*Leaflet Marker Cluster*/
.leaflet-cluster-anim .leaflet-marker-icon,
.leaflet-cluster-anim .leaflet-marker-shadow {
    -webkit-transition: -webkit-transform 0.3s ease-out, opacity 0.3s ease-in;
    -moz-transition: -moz-transform 0.3s ease-out, opacity 0.3s ease-in;
    -o-transition: -o-transform 0.3s ease-out, opacity 0.3s ease-in;
    transition: transform 0.3s ease-out, opacity 0.3s ease-in;
}

/*Marker Cluster Default*/
.marker-cluster-small {
    background-color: rgba(181, 226, 140, 0.6);
}

.marker-cluster-small div {
    background-color: rgba(110, 204, 57, 0.6);
}

.marker-cluster-medium {
    background-color: rgba(241, 211, 87, 0.6);
}

.marker-cluster-medium div {
    background-color: rgba(240, 194, 12, 0.6);
}

.marker-cluster-large {
    background-color: rgba(253, 156, 115, 0.6);
}

.marker-cluster-large div {
    background-color: rgba(241, 128, 23, 0.6);
}

/* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-small {
    background-color: rgb(181, 226, 140);
}

.leaflet-oldie .marker-cluster-small div {
    background-color: rgb(110, 204, 57);
}

.leaflet-oldie .marker-cluster-medium {
    background-color: rgb(241, 211, 87);
}

.leaflet-oldie .marker-cluster-medium div {
    background-color: rgb(240, 194, 12);
}

.leaflet-oldie .marker-cluster-large {
    background-color: rgb(253, 156, 115);
}

.leaflet-oldie .marker-cluster-large div {
    background-color: rgb(241, 128, 23);
}

.marker-cluster {
    background-clip: padding-box;
    border-radius: 20px;
}

.marker-cluster div {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-top: 5px;

    text-align: center;
    border-radius: 15px;
    font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.marker-cluster span {
    line-height: 30px;
}


@media(max-width:760px) {
    html {
        font-size: 85%;
    }
	
	#map {
        margin-top: 10px;
		top: 5em;
        height: 90vh;
    }
}

@media(max-width:568px) {
    html {
        font-size: 65%;
    }
	
	#map {
        margin-top: 10px;
		top: 5em;
		height: 90vh;
    }
}

/* Mobile */
@media (max-width: 450px) {
    html {
        font-size: 45%;
    }

	main {
		top: 6px; /* Sesuaikan dengan tinggi navbar Anda */
		margin:0.1rem 0.75rem 0.1rem;
	}
	
	
	#map {
        margin-top: 0.3px;
    }

}
